*.xccheckout
*.xcuserstate
FileUploader.xcodeproj/project.xcworkspace/xcuserdata/adamnagy.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

FileUploader.xcodeproj/xcuserdata/adamnagy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
